/*
*任务完成
*/
#missioncomplete article.part_a:not(:nth-child(3))>div:nth-child(2){
	border-bottom:solid 1px rgb(220,220,220);
	border-top:solid 1px rgb(220,220,220);
	background: rgb(255,246,241);
	margin:0 1em;
	padding: 1em 1em 

}

#missioncomplete .trlike>span{
	display: inline-block;
}

#missioncomplete .trlike>span>i{
	font-style: normal;
	margin-left: 0.5em
}
#missioncomplete .ini1{
	font-size: 2.2rem;
	color: rgb(235,97,0);
}
#missioncomplete .ini2{
	color: rgb(118,173,0);
}

#missioncomplete .polaroid{
	background: url("../img/polaroid.png") no-repeat 2em 1em;
	height: 2.6em;
	line-height: 2.6em;
}
#missioncomplete .edit{
	font-size: inherit;
	resize:none;
	margin: 0 1em;
	padding: 1em;
	border:solid 1px rgb(220,220,220);
	border-radius: 5px;
	width: 24.5em;
}
#missioncomplete .pencil_icon{
	background: url("../img/pencil_orange.png") no-repeat right center;
	height:2.6em;
	width: 2.6em;
	float: right;
	display: inline-block;
}
