#personalcenter .wrapper{
    background-color: rgb(250,250,250);
}
#personalcenter .backimage{
    width:100%;
    height: 35% ;
    background:url('../img/backpicture.png');
    background-size: 100% 100%;
    text-align: center;
}
#personalcenter .img_border{
    width:5em;
    height:5em;
    border-radius: 50%;
    margin-top: 1em;
}
#personalcenter .span_display_inline{
    font-size: 2rem;
    display:inline-block;
    width:12.35em;
    height:2em;
    background-image: url('../img/showorhide.png')
}
#personalcenter .msg_num{
    font-size: 1.8rem;
    width: 2.5em;
    height: 1.5em;
    border-radius: 1.5em;
    line-height: 1.5em;
    display:inline-block;
    border: solid 1px rgb(242,109,4);
    vertical-align: middle;
    text-align: center;
}
#personalcenter .arrow_right{
    margin-top: 1em
 }