#reset-password input {
  backgound: none;
}

#resetpassword .button {
  /*position: absolute;*/
 /* bottom: 0;*/
  color: #f60;
  font-size: 30px;
  width: 100%;
  background: #fdfefc;
  height: 72px;
  line-height: 72px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
}

#resetpassword .form-block {
  background: #fdfdfe;
  padding: 2em 0;
}

#resetpassword .form-block .illustration {
  text-align: center;
}

#resetpassword .form-block h2 {
  color: #999;
  line-height: 2em;
}

#resetpassword .form-block > section > div > label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#resetpassword .form-block > section > div > input {
  margin-left: 10px;
  width: 400px;
  font-size: inherit;
}

#resetpassword .security-qa-block > section > div > label {
  width: 40px;
}

