#updatepassword .icon {
  display: inline-block;
}

#updatepassword .icon-input-validator-true {
  width:28px;
  height: 28px;
  background-image: url(../img/input_validator.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#updatepassword .icon-input-validator-false {
  width:28px;
  height: 28px;
  background-image: url(../img/input_validator.png);
  background-repeat: no-repeat;
  background-position: -31px 0;
}

#updatepassword input {
  background: none;
}

#updatepassword .button {
  color: #f60;
  font-size: 30px;
  width: 100%;
  background: #fdfefc;
  height: 72px;
  line-height: 72px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
}

#updatepassword .form-block {
  background: #fdfdfe;
  padding: 2em 0;
}

#updatepassword .form-block h2 {
  color: #999;
  line-height: 2em;
}

#updatepassword .form-block > section > div > label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

#updatepassword .form-block > section > div > input {
  margin-left: 10px;
  font-size: inherit;
  line-height: 3em;
}

#updatepassword .security-qa-block > section > div > label {
  width: 40px;
}

#updatepassword .password-block > section > div > label {}

#updatepassword .password-block > section > div > input {
  width: 300px;
}

#updatepassword .password-block > section > div > span {
  display: inline-block;
  font-size: inherit;
  width: 28px;
  vertical-align: middle;
}

#updatepassword #select-security-question .select_content {
  width: 440px;
  line-height: 3em;
  display: inline-block;
  border: 0;
}

#updatepassword #select-security-question .select_list {
  width: 440px;
  position: absolute;
}

