/*details.css*/
h4{
	font-weight: normal;
}
div.detailspic{
	width: 100%;
	height: 30rem;
	position: relative;
	overflow: hidden;
}
div.detailspic ul{
	width: 1000%;
	height: 100%;
	position: absolute;
}
div.detailspic ul li{
	width: 10%;
	height: 100%;
	float: left;
	position: relative;
}
div.detailspic ul li img{
	width: 100%;
	height: 100%;
}
div.detailspic p{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 3.6rem;
	line-height: 3.6rem;
	font-size: 0;
	text-align: center;
}
div.detailspic p span{
	line-height: 3.6rem;
	font-size:4rem;
	color: white;/*rgb(254,66,2)*/;
}
.details{
	background: rgb(245,245,245);
}
.place,.dianpin,.tese{
	margin-bottom: 2rem;
	padding:1rem 0;
	border-bottom: solid 0.2rem rgb(235,235,235);
	background: white;
}

.place{
	height: 6.5rem;
	padding:1rem 32px;
}
.place header h4{
	height: 3.7rem;
	color: rgb(164,164,164);
}
.place p span:nth-child(1){
	color: rgb(164,164,164);
	font-size:1.7rem;

}
.place p span:nth-child(1)::before{
	content: "原价：￥"
}
.place p span:nth-child(2){
	color: red;
	font-size:2.0rem;
	float: right;
}
.place p span:nth-child(2)::before{
	content: "￥";
	color：red;
	font-size:1.7rem;

}
.place p span:nth-child(2)::after{
	content: "起";
	color：red;
	font-size:1.7rem;
}
.dianpin{
	overflow: hidden;
}
.dianpin header,.tese header{
	overflow: hidden;
	border-bottom: solid 0.2rem rgb(235,235,235);
	height:4.8rem;
	line-height: 4.8rem;
	font-size: 2.4rem;
	padding:0 32px;
}
.dianpin header h4,.tese header h4{
	height:4.8rem;
	line-height: 4.8rem;
	font-size: 2.4rem;
	float: left;
}
.dianpin header p,.tese header p{
	float: right;
}
.dianpin header p span,.tese header p span{
	height:4.8rem;
	line-height: 4.8rem;
	font-size: 1.4rem;
	background: transparent;
}
.dianpin header p span:nth-child(2){
	font-weight: bold;
}
.dianpin div:nth-child(2),.tese div:nth-child(2){
	padding:0 32px;
}
.dianpin div p{
	color: rgb(193,193,193);
}
.dianpin div p:nth-child(1),.tese div p{
	font-size: 1.6rem;
	color: rgb(140,140,140);
	word-break:break-all;
	line-height: 1.6em;
	padding-top:0.5em;
}
.dianpin div p:nth-child(2){
	font-size: 1.4rem
}
.dianpin div p:nth-child(2) span:nth-child(1){
	margin-right: 50px
}
section.tese{
	margin-bottom: 0;
}
.tese header h4{
	color: rgb(77,77,77);
}
.tobook{
	padding:1rem 32px;
	height: 5rem;
}
.tobook input{
	color: white;
	background: rgb(34,191,100);
	height:5rem;
	width:576px;
	border-radius: 5px;
	text-align: center;
	font-size: 2.8rem;
}