/*order.css*/
body{
	background: rgb(245,245,245);
}
.baseinfo,.userinfo,.userinfo1,.beks{
	background: white
}
.baseinfo,.userinfo,.userinfo1{
	margin-bottom: 2rem
}
.baseinfo{
	height: 6.3rem;
	padding: 1rem 32px;
}
.baseinfo p{
	display: inline-block;
	vertical-align: middle;
	height: 6.3rem;
}
.baseinfo p span{
	display: inline-block;
	width: 100%;
	height: 50%
}
.baseinfo p span:nth-child(1){
	font-size: 2rem;
}
.baseinfo p:nth-child(1){
	width: 388px

}
.baseinfo p:nth-child(2){
	width: 168px;
	border-left: solid 2px rgb(235,235,235);
	text-align: right;
}
.baseinfo p:nth-child(2) span:nth-child(1){
	color: rgb(255,66,0);
}
.baseinfo p:nth-child(2) span:nth-child(1)::before{
	content: "￥";
	font-size: 1.4rem
}
.userinfo{

}
.infotype{
	width: 144px;
	color: rgb(10,10,10);
	display: inline-block;
}
.userinfo p span:nth-of-type(2){
	margin-right: 0.5em;
}
.userinfo p span:nth-of-type(2)::before{
	content: "选择";
	color: rgb(34,191,100);
}
.userinfo p span:nth-of-type(2)::after{
	content: "成人";
	color: rgb(34,191,100);
}
.userinfo p span:nth-of-type(3)::after{
	content: "儿童";
	color: rgb(34,191,100);
}
.userinfo p span:nth-of-type(2),.userinfo p span:nth-of-type(3){
	color:rgb(255,66,0);
}
.userinfo p,.userinfo1 p{
	height: 5.4rem;
	line-height: 5.4rem;
	border-bottom: solid 0.1rem rgb(235,235,235);
	font-size: 1.4rem;
	color: rgb(130,130,130);
	margin-left: 32px
}
.userinfo p:last-child,.userinfo1 p:last-child{
	border-bottom: none;
}
.userinfo p:first-child{
	margin-left:0;
	padding: 0 32px;
	font-size: 2.0rem
}
.userdisplay{
	padding-left: 184px;
}
.users,.addbutton{
	display: inline-block;
	vertical-align: middle;
}
.users{
	width: 360px;
}
.users li{
	width: inherit;
	line-height: 3em;
	height: 3em;
	font-size: 1.2rem;
	color: rgb(130,130,130);
	border-bottom: solid 0.1rem rgb(235,235,235);
}
.users li span:nth-child(1){
	float:left;
}
.users li span:nth-child(2){
	float:right;
	color: blue;
	cursor: pointer;
}
.users li:last-child{
	border-bottom: none;
}
.userinfo .userdisplay .addbutton{
	vertical-align: middle;
	text-align: center;
	height: 36px;
	width: 70px;
	margin:0;
}
.userinfo .userdisplay .addbutton img{
	height: inherit;
	width: 40px;
}
.userinfo1{

}
.userinfo1 label{
	font-size: 2rem;
	color: black;
	display: inline-block;
	vertical-align: middle;
} 
.userinfo1 input[type="text"]{
	font-size: 2rem;
}
.userinfo1 input[type="text"]::-webkit-input-placeholder{
	font-size: 1.4rem;
	font-family: "微软雅黑", Geneva, sans-serif
}
.beks{
	font-size: 1.4rem;
	border-top:  solid 2px rgb(235,235,235);
	border-bottom:  solid 2px rgb(235,235,235);
	height: 8.37rem;
	padding: 1rem 32px;
	color: rgb(130,130,130);
}
.tells{
	font-size: 1.2rem;
	padding: 1rem 32px;
	color: rgb(130,130,130);
	margin-bottom: 2rem;
	background: rgb(245,245,245);
}
.tells span{
	color: rgb(255,66,0)
};